@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fredoka:wght@300..700&display=swap');

body {
    background-color: #f2f2f2;
    font-family: Fredoka, Roboto, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color:#2A563A;
}

#logo-link {
    padding-top: 5px;
}

.logo {
    width: 80px;
}

nav {
    background-color: #40221B;
    text-align: center;
    color: #f2f2f2;
    font-family: Fredoka, Roboto, sans-serif;
}

nav a {
    text-align: center;
    color: #f2f2f2;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #B5A195;
    color: #000000;
}

.home-title {
    text-align: center;
    color: #000000;
    font-family: Courgette, "Brush Script MT", serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    text-align: center;
    color: #000000;
}

.button-box {
    text-align: center;
}

/* I separated .book and .join for accessibility reasons. One is on a light background and the other dark, so they are colored accordingly. */
.book {
    background-color: #40221B;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #B5A195;
    color: #000000;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #2A563A;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

h2 {
    margin: 0;
}

#background {
    height: 725px;
    background-color: #B5A195;
}

.msg {
    background-color: #2A563A;
    color: #f2f2f2;
    line-height: 1.5em;
    padding: 35px;
}

.msg p {
    font-size: 0.8em;
    padding-bottom: 15px;
}

.join {
    background-color: #B5A195;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover {
    background-color: #40221B;
    color: #f2f2f2;
}

footer {
    background-color: #40221B;
    color: #f2f2f2;
    padding: 25px 30px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: #f2f2f2;
    text-decoration: none;
}

footer a:hover {
    color: #f2f2f2;
}

footer .social img {
padding-top: 15px;
}