@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Lexend:wght@100..900&display=swap');

body {
    font-family: Lexend, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

main p {
    line-height: 1.7em;
}

/* Website logo and navbar styles */

header {
    background-color: #cdb4db;
    display: grid;
    grid-template-columns: 150px auto;
}

#logo-link {
    padding-left: 30px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 100px;
    padding: 20px;
}

nav {
    text-align: center;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

nav a {
    color: #134472;
    text-decoration: none;
    padding: 15px;
}

nav a:hover {
    background-color: #134472;
    color: #cdb4db;
    border-radius: 10px;
    padding: 15px;
}

/* Home page grid and styles */
#hero {
    display: grid;
    grid-template-columns: 12% 76% 12%;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -1;
}

#hero-img {
    width: 100%;
    opacity: 50%;
}

#hero-heading {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    color: #134472;
    font-size: 3.1em;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px 100px;
    justify-items: center;
    align-items: center;
}

.home-grid p:nth-of-type(1) {
    grid-column: 1/3;
}

.home-grid p:nth-of-type(2) {
    margin-right: 50px;
}

#states-map {
    margin: 50px auto;
    width: 100%;
}

/* Bird-Flower Facts page grid and styles */
.fact-card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 70px;
    background-color: #ffafcc;
    border-radius: 15px;
    margin: 70px;
    padding: 50px;
    padding-top: 0;
    justify-items: center;
    align-items: center;
}

.card-heading {
    grid-column: 1/3;
    margin-bottom: -25px;
    font-size: 2em;
}

.fact-card-grid img {
    width: 100%;
    display: inline;
}

.bird-text {
    margin-right: 50px;
}

.flower-text {
    margin-left: 50px;
    text-align: right;
}

#notice-text {
    margin: 50px 100px;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
}

/* Contact page grid and styles */
.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 70px;
}

.contact-grid h1 {
    margin-left: -70px;
    font-size: 6em;
    text-align: center;
}

.contact-grid img {
    width: 100%;
}

#contact-p {
    grid-column: 1/3;
    margin: 50px 100px;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
}

#form {
    justify-items: center;
    align-items: center;
    grid-column: 1/3;
}

form {
    background-color: #ffafcc;
    width: 95%;
    padding: 25px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
}

#form-img {
    width: 150px;
}

#form-elements {
    width: 90%;
}

label, input, textarea, button {
    font-family: Lexend, Helvetica, sans-serif;
    display: block;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    padding: 20px;
    width: 90%;
}

label {
    padding-bottom: 10px;
    margin-left: 16px;
}

input, textarea {
    font-style: italic;
}

textarea {
    padding-top: 10px;
    max-width: 1061px;
    min-width: 1061px;
    min-height: 33px;
}

button {
    margin-top: 30px;
    width: 13%;
    padding: 10px;
    font-size: 1em;
}

/* Website footer styles */
footer {
    display: grid;
    grid-template-columns: 33% repeat(3, 1fr);
    background-color: #cdb4db;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding: 20px 50px;
    font-size: 1.2em;
    text-align: center;
}

footer p {
    color: #134472;
}

footer .site-link, a {
    text-decoration: none;
    color: #134472;
}

footer .site-link:hover {
    background-color: #134472;
    color: #cdb4db;
    border-radius: 10px;
    padding: 15px;
}

footer p:nth-of-type(1) {
    grid-column: 1/2;
}

footer p:nth-of-type(2) {
    grid-column: 2/3;
}

footer p:nth-of-type(3) {
    grid-column: 3/4;
    margin-right: 0;
}

.social img {
    padding: 15px;
}

/* Dynamic styles for a 900px wide screen */
@media screen and (max-width: 900px) {
    .home-grid {
        display: block;
        height: auto;
    }

    nav, footer {
        display: block;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero-heading {
        font-size: 1em;
    }

    .home-grid p {
        margin: 0;
        margin-top: 50px;
    }
}